<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background: rgb(19, 19, 19); font-family: 'RobotoCondensed Bold';">
  <div class="container-fluid">
    <img
      src="../../../assets/img/marvel.png"
      width="130"
      height="52"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      role="button"
    />
    <ul class="navbar-nav">
      <li
        class="nav-item"
        *ngFor="let item of menuItems"
        [routerLinkActive]="['active']"
      >
        <a
          class="nav-link"
          [routerLink]="item.link"
          routerLinkActive="router-link-active"
        >
          <em class="{{ item.icon }}" *ngIf="item.icon"></em>
          <label style="cursor: pointer;">{{ item.text }}</label>
        </a>
      </li>
    </ul>
  </div>
</nav>
