body {
  background-color: rgb(59, 59, 59);
}

@font-face {
  font-family: 'RobotoCondensed Bold';
  src: url('./assets/fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

/* div {
  border: 1px solid red;
} */
